/* Add your CSS code below */
a {
  font-weight: 900;
  color: red;
  text-decoration: underline;
}
.message__time {
  font-size: 0.9rem;
}
div:nth-child(3) {
  border-width: thick;
  border-left: solid;
  border-color: blue;
}
div:nth-child(1) > p {
  color: rgba(173, 173, 173, 0.582);
}
.message {
  margin: 5%;
}
