.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  align-items: center;
}

.countries--second {
  align-items: flex-end;
  flex-direction: row-reverse;
}
.countries--third {
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.countries--fourth {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
}
